<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
<title>Quiz</title>
</head>

<body>

<header>
<h2>Quiz</h2>
</header>

<div class="container">

<form method="POST">

<% quiz.questions.forEach((q,index)=>{ %>

<div class="quiz-box">

<p><b>Q<%= index+1 %>. <%= q.question %></b></p>

<% q.options.forEach((opt,i)=>{ %>

<label>
<input type="radio" name="q<%= index %>" value="<%= i %>" required>
<%= opt %>
</label>

<br>

<% }) %>

</div>

<% }) %>

<button type="submit">Submit Quiz</button>

</form>

</div>

</body>
</html>